.App {
  text-align: center;
}
nav {
  display: flex;
  flex-direction: row;
  flex-shrink: 3;
  margin: auto;
  margin-top: 26px;
  flex-wrap: wrap;

  justify-content: space-evenly;
}
#ShopCartTitle {
  font-size: 1.2em;
  margin-top: 0em;
  margin-left: -5em;
  margin-right: 9em;
}
nav li {
  list-style: none;
  margin-left: 5em;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ModalImg {
  height: 80%;
  max-width: 200px;
}
.SubmitBtn {
  width: 92px;
  height: 49px;
  background-color: seagreen;
  color: ghostwhite;
  border: 2px crimson;
  border-radius: 13px;
}
.formDiv {
  display: flex;
  justify-content: space-between;
  max-width: 442px;
}
.formDiv label {
  margin-top: 27px;
  margin-left: 74px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.selected {
  color: red;
}
.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  flex-shrink: 3;
  align-items: center;
  /* justify-content: space-around; */
  font-size: calc(10px + 2vmin);
  display: flex;
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
} 
/* .grid-container {
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto auto;
   min-width: 90vw;
  padding: 10px;
} 
*/
.btn {
  width: 92px;
  height: 36px;
  background-color: #2ab821;
  color: black;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 13px;
}

/* 1180 */

/* @media only screen and (max-width: 1200) {
  .grid-container {
    grid-template-columns: auto auto;
  }
} */

.grab {
  cursor: -webkit-grab;
  cursor: grab;
}
.card_outer {
  height: 429px;
  width: 346px;
  background-color: #fbd8d88a;
  border: -7px solid black;
  border-radius: 30px;
  box-shadow: 8px 9px #dfc5c587;
}
.title {
  align-self: center;
  margin-bottom: 0;
  width: 90%;
}
.Card_img {
  width: 300px;
  height: 200px;
}
.blurBox {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #ffff00;
  background-color: rgba(49, 49, 49, 0.9); /* Fallback color */
}
.inputForm {
  border-radius: 18px;
  margin-top: 14px;
  width: 200px;
  height: 29px;
  background-color: bisque;
  padding: 10px;
  right: -69px;
  position: relative;
}
.OuterModal {
  position: absolute;
  display: flex;
  float: left;
  justify-content: space-between;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(241, 241, 241);
  border-radius: 43px;
  padding: 10px;
  width: 674px;
  height: 452px;
}

.blur {
  filter: blur(3px);
}
.RemoveScrollbar {
  overflow: hidden;
}

.GridOnCart {
  display: grid;
  gap: 9px;
  grid-template-columns: auto auto;
  max-width: 59vw;
  padding: 6px;
}
@media only screen and (max-width: 1212px) {
  #ShopCartTitle {
 

  margin-left: -5em;

}
}
@media only screen and (max-width: 1000px) {
 

  
   #ShopCartTitle {


  margin-left: 0em;
  margin:auto;

}
}
@media only screen and (max-width: 501px) {
 

  #Admin
  {
    margin-left: 12em;
  }
 
}
.grid-container {
    /* display: grid; */
    display: flex;
    flex: wrap;
    flex-wrap: wrap;
    gap: 50px;
    /* margin: auto; */
    margin-left: 8vw;
    grid-template-columns: auto auto auto;
    /* min-width: 90vw; */
    padding: 47px;
}

.labelError {
  
    margin-left: 17rem;
    color: red;
}